// Light Mode

$very-dark-blue-primary: hsl(200, 15%, 8%);
$dark-gray: hsl(0, 0%, 52%);
$very-light-gray: hsl(0, 0%, 98%);
$color-white: hsl(0, 0%, 100%); 

// Dark Mode

$dark-blue: hsl(209, 23%, 22%);
$very-dark-blue-secondary:  hsl(207, 26%, 17%);
$color-white: hsl(0, 0%, 100%) 
