@import '../../styles/variables';


.main {
    border-top: 2px solid $very-light-gray;
    background-color: $very-light-gray;

    &.dark-theme {
        background-color: $very-dark-blue-secondary;
        border: none;
    }

    &.dark-theme .main__input::placeholder {
        color: $color-white;
    }

    &__search {
        display: flex;
        flex-wrap: wrap;
        grid-gap: 1rem;
        justify-content: space-between;
        align-items: center;
        padding: 4rem 5rem;

        @media only screen and (max-width: 40.625em) {
            flex-direction: column;
            align-items: flex-start;
        }

        @media only screen and (max-width: 31.25em) {
            padding: 3rem;
        }

        & form {
            display: flex;
            grid-gap: 1rem;

            @media only screen and (max-width: 31.25em) {
                flex-direction: column;
            }
        }

        
        &-icon {
            position: absolute;
            top: 50%;
            left: 20px;
            transform: translateY(-50%);
            color: $dark-gray;
        }



        &-container {
            position: relative;
            display: flex;
            grid-gap: 3rem;
            align-items: center;
        }
        
    }


&__input {
    
    &::placeholder {
        color: $dark-gray;
        font-weight: 600;
        font-size: 1.2rem;
    }
}

    &__input,
    &__button  {
        width: 100%;
        background-color: $color-white;
        font-weight: 600;
        border-radius: 4px;
        box-shadow: 0 .1rem .5rem rgba(0, 0, 0, 0.2);
        padding: 1.5rem 6rem;
        border: none;
        font-size: 1.2rem;
        color: $very-dark-blue-secondary;
    
        
        &:focus-visible {
            outline: none;
        }

        &.dark-theme {
            background-color: $very-dark-blue-secondary;
            color: $color-white;
        }
    }
    
    &__button {
        padding: 1.5rem 3rem;
        color: $dark-gray;
        transition: transform .3s;
        max-width: 10rem;

        &:active {
            transform: translateY(10px);
        }

        &.dark-theme {
            background-color: $very-dark-blue-secondary;
            color: $color-white;
        }
    }

    &__dropdown {
        position: relative;
        display: flex;
        align-items: center;
        grid-gap: 2rem;
        background-color: $color-white;
        padding: 1.5rem 2.6rem 1.5rem 1.5rem;
        border: none;
        color: $very-dark-blue-secondary;
        font-weight: 600;
        border-radius: 4px;
        box-shadow: 0 .1rem .5rem rgba(0, 0, 0, 0.2);
        cursor: pointer;


        &::after {
            display: inline-block;
            margin-left: .255em;
            vertical-align: .255em;
            content: "";
            border-top: .3em solid;
            border-right: .3em solid transparent;
            border-bottom: 0;
            border-left: .3em solid transparent;
        }

        &-item {
            color: $very-dark-blue-secondary;
            padding: 1.5rem;
            text-decoration: none;
            font-weight: 600;
            font-size: 1.3rem;
        }
    }
}

.dropdown-menu {
    margin-top: .5rem;  
    display: flex;
    flex-direction: column;
    background-color: $color-white;
    padding: 1.5rem 2.6rem 1.5rem 1.5rem;
    border-radius: 4px;
    box-shadow: 0 .1rem .5rem rgba(0, 0, 0, 0.2);
    z-index: 1000;
}